<html>
    <head> 
        <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <body>
            <title>Ticket Status</title>
            <a href="/"><button class="homebtn"><i class="fa fa-home"></i> Home</button></a>
            <form class= "new-ticket-form" method="POST" action="/api/checkStatus">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="ticket" id="ticketID" name="ticketID">
                    <label class="mdl-textfield__label" for="ticket">Ticket ID...</label>
                </div>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Find
                    </button>
                </div>
                <div class="container">         
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>
                                    <%= ticket._id %>
                                </td>
                                <td>
                                    <%= ticket.status %>
                                </td>
                                <td>
                                    <%= ticket.date %>
                                </td>
                                <td>
                                    <%= ticket.Description %>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </body>
    </head>
</html>