<html>
    <head> 
        <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script>
            // Get the modal
            var modal = document.getElementById('id01');
                
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
        <body>
            <title>Welcome To IT World!</title>
            <div class="demo-layout-transparent mdl-layout mdl-js-layout">
                <header class="mdl-layout__header mdl-layout__header--transparent">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">Welcome to IT World!</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation -->
                    <nav class="mdl-navigation">
                        <!-- <a class="mdl-navigation__link" href="">Admin Login</a> -->
                        <!-- ***************************************************************************************** -->
                        <button class="mdl-navigation" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Admin Login</button>
                        <div id="id01" class="modal">
                            <form class="modal-content animate" action="/api/admin_index">
                            <div class="container">
                                <label for="username"><b>Username</b></label>
                                <input type="text" placeholder="Enter Username" name="username" required>
                                <label for="psw"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="password" required>   
                                    <button class="btn btn-primary" type="submit">Login</button>
                                </div>
                                <div class="container">
                                    <button class="btn btn-danger" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                    <span class="psw"> <a href="#">Forgot password?</a></span>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
                </header>
                <div class="mdl-layout__drawer">
                    <span class="mdl-layout-title">Menu</span>
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="/createTicket">Create a new ticket</a>
                        <a class="mdl-navigation__link" href="/checkStatus">Check status of an existing ticket</a>
                    </nav>
                </div>
                <main class="mdl-layout__content">
                </main>
                <div class="info">
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">IT Service Desk!</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p class="supporting-text">Central location for all of your IT needs. click on the menu to get started.</p>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </head>
</html>