.demo-layout-transparent {
    background: url('./images/welcome_page_header_bg.jpg') center / cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: blanchedalmond;
}
.demo-layout-transparent .mdl-layout__header-row,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: #ffffff;
    font-family: fantasy;
}
.mdl-layout__drawer span.mdl-layout-title {
    font-size: 32px;
}
.mdl-navigation a.mdl-navigation__link{
    font-size: 18px;
    font-family: fantasy;
}
.mdl-navigation a.mdl-navigation__link:hover {
    font-size: 22px;
    font-weight: bold; 
}
.mdl-navigation button.mdl-navigation {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 18px;
    color: #ffffff;
    font-family: fantasy;
}

.mdl-navigation button.mdl-navigation:hover {
    font-size: 24px;
    font-weight: bold; 
}

span.mdl-layout-title {
    font-size:78;
    padding-top: 10%;
    color: black;
    font-family: fantasy;
    font-weight: bold;
}
.info {
    padding-bottom: 80px;
    text-align: center;
    padding-left: 28%;
}

.demo-card-wide.mdl-card {
    width: 60%;
    height: 20%;
}
.demo-card-wide > .mdl-card__title {
    color:black;
    height: 176px;
    background: url('./images/welcome_page_card.png') center / cover;
  }
  .mdl-card__title h2.mdl-card__title-text {
    font-family: fantasy;
    font-weight: bold;
    font-size: 32;
  }
  .mdl-card__supporting-text p.supporting-text {
    font-family: fantasy;
    font-weight: bold;
    font-size: 18;
  }
  /*.demo-card-wide > .mdl-card__supporting-text {
    font-family: fantasy;
    font-weight: bold;
  }*/
  /*-------------------------Pop out login button---------------------------------

  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #000;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

  /*-------------------------Pop out login button---------------------------------*/

  /*-------------------------New ticket page---------------------------------*/
  .new-ticket-form {
    text-align: center;
    font-family: fantasy;
  }
  
  .new-ticket-toggle-switch {
      display: inline-block;
  }

  .new-ticket-page {
    background-image: url('./images/new_ticket.jpg');
    /* Full height */
    height: 110%;
    background-size: cover;

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*-------------------------New ticket page---------------------------------*/