.demo-layout-transparent {
    background: url('./images/welcome_page_header_bg.jpg') center / cover;
    background-size: 1900px 400px;
    background-position: top;
    background-repeat: no-repeat;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}